*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue{
    color: rgb(33, 131, 217);
}

.grigio{
    color: rgb(171, 171, 171);
}

.smallest-text{
    font-size: 13px;
}

section{
    margin-bottom: 30px;
}

footer{
    margin-top: 35px;
}

main{
    margin-top: 30px;
}

.yellow{
    background-color: yellow;
}